@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'bootstrap-icons/font/bootstrap-icons.css';

body {
  display: grid;
  background: #fefefe;
  min-height: 100vh;
}

#sign-in-form{
  max-width: 300px;
}

#main-container{
  place-items: center center;
}

.login-logo{
  width: 250px;
  height: 250px;
}

.layout-logo img{
  width: 125px;
  height: 125px;
  overflow: hidden;
  margin-top: -6px;
}

.color-nav{
  background-color: rgb(183, 225, 241);
}